.wrapper {
  position: absolute;
  display: flex;
  padding: 20px;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
}
